
<h2>Details</h2>

<div> Title : {{model.title}} by author: {{model.author.fname}} {{model.author.lname}}</div>

<div><label>Edit Title Name</label> {{input type="text" value=model.title}}</div>
<div><button {{action 'editPost' model}}>edit </button> </div>
    <div><label>Author FName : </label> {{model.author.fname}}</div>
<div><label> Author LName : </label> {{model.author.lname}}</div>

<div> testing computed property : {{title}}</div>


