<div class="row">
    <div class="col-md-6">
        <ul>

          {{#each mod in model}}

              <li>
                {{#link-to 'posts.post' mod}} {{mod.title}}  {{/link-to}} by {{mod.author.fname}} {{mod.author.lname}}
                  <a href="#" {{action 'deletePost' mod}}>Delete!</a>

              </li>

          {{/each}}
        </ul>
      {{outlet}}
    </div>

    {{input type="text" value=name}}
    <br/>


    {{test}}


</div>